<div class="container-fluid body-content">
	<div class="row-fluid">
		<div class="span4">
			<h3>CLOTHES</h3>
		</div>
		<div class="span4">
			<h3>ACCESSORIES</h3>
		</div>
		<div class="span4">
			<h3>SHOES</h3>
		</div>
	</div>
	<div class="row-fluid" style="padding:10px">
		<div class="span4">
			<p>
				<%= link_to image_tag("clothes-edited.png", alt: "Clothes"), '#' %>
			</p>
		</div>
		<div class="span4">
			<p>
				<%= link_to image_tag("accessories-edited.png", alt: "Accessories"), '#' %>
			</p>
		</div>
		<div class="span4">
			<p>
				<%= link_to image_tag("shoes-edited.png", alt: "Shoes"), '#' %>
			</p>
		</div>
	</div>
	<div class="row-fluid" style="padding:10px">
		<div class="span4">
			<ul class="no-bullets">
				<li><%= link_to "Dresses", '#' %></li>
				<li><%= link_to "Tops", '#' %></li>
				<li><%= link_to "Shirts", '#' %></li>
				<li><%= link_to "Skirts", '#' %></li>
				<li><%= link_to "Jeans", '#' %></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="no-bullets">
				<li><%= link_to "Handbags", '#' %></li>
				<li><%= link_to "Bracelets", '#' %></li>
				<li><%= link_to "Earrings", '#' %></li>
				<li><%= link_to "Necklaces", '#' %></li>
				<li><%= link_to "Clutches", '#' %></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="no-bullets">
				<li><%= link_to "Flip-flops", '#' %></li>
				<li><%= link_to "Heels", '#' %></li>
				<li><%= link_to "Hedges", '#' %></li>
				<li><%= link_to "Ballarinas", '#' %></li>
				<li><%= link_to "Shoes", '#' %></li>
			</ul>
		</div>
	</div>
</div>