<script type="text/javascript">

$(function() {
  // Setup drop down menu
  $('.dropdown-toggle').dropdown();
 
  // Fix input element click problem
  $('.dropdown input, .dropdown label').click(function(e) {
    e.stopPropagation();
  });
});

</script>

<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">STARKE MADCHEN</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<% if signed_in? %>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Hello <%= @current_user %>!<br> 
									Your Account <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Your Account", "#" %></li>
									<li><%= link_to "Your Orders" , "#" %></li>
									<li><%= link_to "Your WishList", "#" %></li>
									<li class="divider"></li>
									<li>
										<%= link_to "Sign Out", "#" %>
									</li>
								</ul>
							</li>
						<% else %>
							<li id="fat-menu" class="dropdown">
	              				<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
	              					Sign In <b class="caret"></b>
	              				</a>
	              				<div class="dropdown-menu">
									<%= form_for(:session, url: sessions_path) do |f|%>
										<%= f.text_field :email %>
										<%= f.password_field :password %>
										<%= f.submit "Sign In", class: "btn btn-small btn-primary" %>
									<% end %>
								</div>
	            			</li>
							<li class="divider-vertical">
							</li>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Create Account<b class="caret"></b>
								</a>
								<div class="dropdown-menu">
									<%= form_for(@user) do |f| %>
										<%= render 'shared/error_messages' %>
										<%= f.text_field :name %>
										<%= f.text_field :email %>
										<%= f.password_field :password %>
										<%= f.password_field :password_confirmation %>
										<%= f.submit "Sign Up", class: "btn btn-small btn-primary" %>
									<% end %>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>